  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');


*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;    
}

section.slaider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
div.slaides{
    width: 400%;
    height: 400px;
    display: flex;
}
div.slaides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 800px;/*Opcional imagens tendo o mesmo pixel*/
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #fff;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}
#Plaite{
    margin:0 auto 0px;
}
#Plaite a{
    display: block;
    width: 150px;
    color: #F21616;
    margin: auto;
    font-weight: bold;
    padding: 10px;

}
#Plaite:hover{
    font-weight: bolder;
    background-color: #F21616;
    color: #fff;
}
/*Após o Slide
Manipulando Sala de Voto
*/

.sala-voto{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.btn-sala-voto{
    background-color: red;
    color: #fff;
    padding: 16px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    width: 20vw;
    
}
#Info-partidos{
    color: red;
}
/**/
a{
    text-decoration: none;
}
/*Inicio Todos os Partidos*/
.todos-partidos{
    display: flex;
    margin: 2px 25px;
    gap: 15px;
}
.informacao-Partidos h2{
    text-align: center;
}
.informacao-Partidos p{
    text-align: justify;
}
.informacao-Partidos{
    padding: 10px;
    width: 500px;
}
.informacao-Partidos:hover{
    background-color: red;
    color: #fff;
    font-size: 1rem;
    transition: 1s;
    border-radius: 8px;
    
}
.informacao-Partidos h3{
    text-align: center;
    text-transform: lowercase;
}
.informacao-Partidos a{
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}
/*Roda pé*/
footer p{
    background-color: red;
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 10px;
    font-weight: 400;
}

/*Estilizando a Tela de Login*/
#lado-lado{
    display: flex;
    border: 1px solid red;
    width: 831px;
    margin: 80px auto;
}
/*Lado vermelho*/
.login-vermelho{
    background-color: #F21616;
    color: #fff;
    width: 400px;
    padding: 5px;
}
.login-vermelho h1{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}
div.conf-senha{
    display: flex;
    align-items: center;
    gap: 140px;
}
#p-conf-senha{
    display: flex;
    align-items: center;
    gap: 3px;
}

.btn-local{
    display: block;
    margin: auto;
    width: 200px;
    
    color: red;
    font-weight: 300;
    
}
.btn-local:hover{
    color: white;
}
.p-login{
    text-align: center;
    margin-top: 10px;
}
.p-login a{
    color: #F2CB05;
}
/*Login lado Branco*/
.login-branco{
    width: 300px;
}
/*Inicio da Estilização da sala de votação*/
header{
    background-color: #F21616;
    color: #F2CB05;
    text-align: center;
    margin-bottom: 20px;
}
main h2{
    text-align: center;
    color: #F21616;
}
/*Blocos Partidos*/
.partido{
    border: 1px solid red;
}
.partido h3{
    text-align: center;
}
.baneira{
    display: block;
    margin: 2px auto 10px;
    width: 300px;
    
}
.candidato{
    width: 200px;
    border-radius: 50px;
}

.btn-votar{
    margin: auto;
}
#partidos{
    display: flex;
}